body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

a {
    
}

header {
    
}

nav {
    background-color: #fff9c2;
    height:80px;
    padding: 10px;
}

nav img {
    height: 60px;
    margin-top: 10px;
    margin-left: 40px;
}

#social {
    float: right;
    line-height: 80px;
    margin-right: 50px;
    font-size: 23px;
    letter-spacing: 10px;
    margin-top: -70px;
}

#social a {
    color: black;
    transition: 0.2s;
}

#social a:hover {
    color: pink;
    transition: 0.2s;
}

footer {
    
}

/* slider */

#slides {
    display: none;
}

#slides .slidesjs-navigation {
    margin-top:3px;
}

#slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

#slides .slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(pagination.png);
    background-position: 0 0;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
    color: #333;
}

#slides a:hover,
#slides a:active {
    color: #9e2020;
}

.container {
    margin: 0 auto;
}

/* For tablets & smart phones */
@media (max-width: 767px) {
    
    .container {
        width: auto;
    }
}

/* For smartphones */
@media (max-width: 480px) {
    .container {
        width: auto;
    }
    
    nav {
        height: 130px; 
        padding:10px;
    }
    
    nav img {
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    
    #social {
        text-align: center;
        float: none;
        margin-right: 0px;  
        margin-top: -10px;
    }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
    
}

/* For larger displays */
@media (min-width: 1200px) {
    
}